<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <title></title>
    <meta name="Title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <h1 class="text-center"> Formulario de inscripción</h1>
        <form action="" id="form" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" placeholder="Escriba su nombre" name="name"
                            tabindex="1" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">campo obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="second">Segundo apellido:</label>
                        <input type="text" class="form-control" id="second" placeholder="Escriba su segundo apellido"
                            name="second" tabindex="3">

                    </div>
                    <div class="form-group">
                        <label for="cp">Codigo Postal:</label>
                        <input type="text" class="form-control" id="cp" placeholder="Codigo Postal" name="cp"
                            tabindex="5" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">campo obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="tlf">Teléfono:</label>
                        <input type="text" class="form-control" id="tlf" placeholder="teléfono móvil" name="tlf"
                            tabindex="7" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="curso">Codigo del curso:</label>
                        <input type="text" class="form-control" id="curso" placeholder="Codigo del curso" name="curso"
                            tabindex="9" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">Campo obligatorio.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname">primer apellido:</label>
                        <input type="text" class="form-control " id="surname" placeholder="Escriba su apellido"
                            name="surname" tabindex="2" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">Campo obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        <input type="text" class="form-control" id="address" placeholder=" Escriba dirección"
                            name="address" tabindex="4">
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI:</label>
                        <input type="text" class="form-control was-validated " id="dni" placeholder="Escriba su DNI sin guión" name="dni"
                            tabindex="6" required >
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Campo obligatorio.</div> 

                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Esciba su e-mail" name="email"
                            tabindex="8" required>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">obligatorio introducir un e-mail valido.</div>
                    </div>

                    <div class="form-group">
                        <label for="nameC">Nombre del curso:</label>
                        <input type="text" class="form-control" id="nameC" placeholder="Nombre del curso" name="nameC"
                            tabindex="10" required disabled>
                        <div class="valid-feedback">Valido.</div>
                        <div class="invalid-feedback">Campo obligatorio .</div>
                    </div>
                </div>

            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" required> estoy deacuerdo con la
                    politica de privacidad.
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                </label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">aplicar</button>
            </div>

        </form>
    </div>

</body>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>

    function nif(dni) {
        var numero
        var letr
        var letra
        var expresion_regular_dni

        expresion_regular_dni =  /^\d{8}[a-zA-Z]$/; 

        if (expresion_regular_dni.test(dni) == true) {
            numero = dni.substr(0, dni.length - 1);
            letr = dni.substr(dni.length - 1, 1);
            numero = numero % 23;
            letra = 'TRWAGMYFPDXBNJZSQVHLCKET';
            letra = letra.substring(numero, numero + 1);
            if (letra != letr.toUpperCase()) {
                $('#dni')[0].setCustomValidity('Invalid User ID.');
                
                $('#dni').addClass('was-validated');
                alert('Dni erroneo, la letra del NIF no se corresponde');
            } else {
            
                $('#dni').addClass(' was-validated');               
                alert('Dni correcto');
           
            }
        } else {
            $('#dni').addClass(' was-validated');
            $('#dni').val('');  
            alert('Dni incorrecto');
        }
    }

    $(document).ready(function () {

         
        $('#dni').blur(function () {
            nif($('#dni').val());
        });
        
        // Validación del correo electrónico: Comprueba si el dato ha sido introducido y si es un correo electrónico 

        $("#email").blur(function () {

            if ($("#email").val().length > 0) {
                var email = /^[^@\s]+@[^@\.\s]+(\.[^@\.\s]+)+$/;

                if (!(email.test($("#email").val()))) {
                    $(this).addClass('was-validated');
                    return false;
                }
            }
        });


        //Siempre que salgamos de un campo de texto, se chequeará esta función
        $("#form input").keyup(function () {
            var form = $(this).parents("#form");
            var check = checkCampos(form);
            if (check) {
                $("#nameC").prop("disabled", false);
            }
            else {
                $("#nameC").prop("disabled", true);
            }
        });
    });

    //Función para comprobar los campos de texto
    function checkCampos(obj) {
        var camposRellenados = true;
        obj.find(':input[name="curso"]').each(function () {
            var $this = $(this);
            if ($this.val().length <= 0) {
                camposRellenados = false;
                return false;
            }
        });
        if (camposRellenados == false) {
            return false;
        }
        else {
            return true;
        }
    }

    // Comprobamos que los inputs obligatoríos esten rellenos    
    $('.needs-validation').on('submit', function (e) {
        if (!this.checkValidity()) {
            e.preventDefault();
            e.stopPropagation();
            $(this).addClass('was-validated');

        } else {
           
            alert('se ha enviado correctamente');
            $(this).removeClass('was-validated');
            $('#form')[0].reset();
        }


    });



</script>
